@font-face {
    font-family: 'Romana';
    src: url('/assets/fonts/romana_regular.otf') format('otf');
         
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }


  @font-face {
    font-family: 'square_peg';
    src: url(/assets/fonts/square_peg.otf);
  }
  
  body {
    margin: 0;
    font-family: 'Romana', serif;
    color: #FFCF61;
    text-align: left;
    color: #FFCF61;
    text-shadow: 
        2px 2px 0px #CE9521,  /* Right Down */
        -2px -2px 0px #CE9521, /* Left Up */
        2px -2px 0px #CE9521,  /* Right Up */
        -2px 2px 0px #CE9521;  /* Left Down */
    font-size: 60px;
  }


  .text__large {
    margin: 0;
    font-family: 'Romana', serif;
    color: #FFCF61;
    text-align: left;
    color: #FFCF61;
    text-shadow: 
    1px 1px 0px rgba(206, 149, 33, 0.8),  
    -1px -1px 0px rgba(206, 149, 33, 0.8), 
    1px -1px 0px rgba(206, 149, 33, 0.8),  
    -1px 1px 0px rgba(206, 149, 33, 0.8);  
    font-size: 60px;
  }

  

  .text__medium {
    margin: 0;
    font-family: 'Romana', serif;
    color: #FFCF61;
    text-align: left;
    text-shadow: 
    1px 1px 0px rgba(206, 149, 33, 0.8),  /* Lighter Right Down */
    -1px -1px 0px rgba(206, 149, 33, 0.8), /* Lighter Left Up */
    1px -1px 0px rgba(206, 149, 33, 0.8),  /* Lighter Right Up */
    -1px 1px 0px rgba(206, 149, 33, 0.8);  /* Lighter Left Down */
    font-size: 20px;
  }

  .text__small {
    margin: 0;
    font-family: 'Romana', serif;
    color: #FFCF61;
    text-align: left;
    text-shadow: 
    1px 1px 0px rgba(206, 149, 33, 0.8),  
    -1px -1px 0px rgba(206, 149, 33, 0.8), 
    1px -1px 0px rgba(206, 149, 33, 0.8),  
    -1px 1px 0px rgba(206, 149, 33, 0.8);  
    font-size: 30px;
  }


  .text__very__small {
    margin: 0;
    font-family: 'Romana', serif;
    color: #FFCF61;
    text-align: left;
    text-shadow: 
    1px 1px 0px rgba(206, 149, 33, 0.8), 
    -1px -1px 0px rgba(206, 149, 33, 0.8), 
    1px -1px 0px rgba(206, 149, 33, 0.8),  
    -1px 1px 0px rgba(206, 149, 33, 0.8);  
    font-size: 15px;
}

.text__center {
text-align: center;
}

.text__spacing__20 {
margin-bottom: 20px;
}


.text__align__left {
text-align: left;
}




.hover-body {
    font-family: 'Romana', serif;
    color: #FFCF61;
    font-size: 20px;

  }

  .hover__body__small {
    font-family: 'Romana', serif;
    color: #FFCF61;
    font-size: 10px;

  }


  .graffiti {
    font-family: 'square_peg', serif;
    color: #715d2e;
    font-size: 18px;
    text-transform: uppercase;
    text-shadow: none;
    filter: blur(2px);
    text-align: center;
  }

  
  h1, h2, h3 {
    font-family: 'Romana', serif;
    color: #FFCF61;
    text-align: center;
    font-size: 120px;
  }