

.scene3__sky__top__nav {
width: 100%;


}



.scene3__sky__bot {
display: flex;
flex-direction: row;
width: 80%;
height: 100%;
padding-top: 100px;



}




.scene3__house__container {
display: flex;
flex-direction: column;
flex: 2;
align-items: center;
justify-content: center;

}


.scene3__house__roof {
background: linear-gradient(180deg, #D3AD86 9%, #36291B 13.5%);
width: 100%;

    
}


.scene3__house__wall {
display: flex;
flex-direction: column;
background-color: #D9D9D9;
flex: 3;
height: 100%;
       
        
}


.scene3__wall__row {
    display: flex;
    flex: 1;
    height: 100%;
    width: 100%;
   

}



